

a {
    color: white;
    text-decoration: none;
}

.social {
    position: fixed;
    top: 200px;
}

.social ul {
    padding: 0px;
    transform: translate(-270px,0);
}

.social ul li {
    display: block;
    margin: 50px;
    background: rgba(40, 180, 99, .6);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.5s;
}

.social ul li:hover {
    transform: translate(110px,0);
    background: #f61212;
    transition: all 1.5s;
}

.social ul li:hover a {
    color: white;
}

.social ul li:hover i{
    color: #f61212;
    background: white;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    background: white;
    padding: 10px;
    border-radius: 70%;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 40px;
}